.home-bg{
    background: url(../images/home-1-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.shop-now-btn{
    text-decoration: none;
    color: white;
    background-color:#155E1E;
    border-radius: 50px;
    width:10%;
    font-size:110% ;
    padding: 15px;
    margin-top: 2%
}
.arrow-btn-icon{
background-color: #5b9b3ead;
padding: 10px;
border-radius: 100%;
margin-left: 5%;
}
.home-1-content{
    text-align: center;
    padding-top: 13%;
    padding-bottom: 20%;
}
.home-1-content-h4{
    font-size: 250%;
    margin-top: 1%;
}
